<section class="billing-info">
    <div class="billing-header">
        <h3 class="main-color sub-font">Confirmation</h3>
        <div class="row step sub-color">
            <div class="col-md-6">We are getting to the end. Just few clicks and your order si ready!</div>
            <div class="col-md-6 text-right">Step 5 of 5</div>
        </div>
    </div>

    <div class="billing-content">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-box input">
                        <input type="checkbox" id="check" name="check">
                        <label for="check"> I agree with sending an Marketing and newsletter emails. No spam, promissed!</label><br>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-box input">
                        <input type="checkbox" id="check" name="check">
                        <label for="check"> I agree with our terms and conditions and privacy policy.</label><br>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>