<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="left-list list-default"> 
                    <li>
                        <a href="#" class="cta-color no-decoration">Chat with us</a>
                    </li>
                    <li class="main-color">+420 336 775 664</li>
                    <li class="main-color">info@freshnesecom.com</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="right-list list-default text-right"> 
                    <li>
                        <a href="#" class="cta-color no-decoration">Blog</a>
                    </li>
                    <li>
                        <a href="#" class="cta-color no-decoration">About Us</a>
                    </li>
                    <li>
                        <a href="#" class="cta-color no-decoration">Careers</a>
                    </li>                                    
                </ul>
            </div>
        </div>
        <div class="border"></div>
    </div>
</header>