<section class="quick-links">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="sub-font">Get in touch</h3>

                <ul class="list-default">
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">About Us</a>
                    </li>
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Careers</a>
                    </li>
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Press Releases</a>
                    </li>
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3 class="sub-font">Connections</h3>

                <ul class="list-default">
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Facebook</a>
                    </li>
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Twitter</a>
                    </li>
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Instagram</a>
                    </li>
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Youtube</a>
                    </li>
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">LinkedIn</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3 class="sub-font">Earnings</h3>

                <ul class="list-default">
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Become an Affiliate</a>
                    </li>
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Advertise your product</a>
                    </li>
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Sell on Market</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3 class="sub-font">Account</h3>

                <ul class="list-default">
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Your account</a>
                    </li>
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Returns Centre</a>
                    </li>
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">100 % purchase protection</a>
                    </li>
                    <li class="d-block">
                        <a class="cta-color no-decoration" href="#">Chat with us</a>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</section>